.THIS .no-border{
    border: 0px;
    font-size: 1.25rem;
    padding: 0.5rem;
}

.THIS .slds-form-element__label{
    font-size: 0.75rem;
}

.THIS .headerWithoutAccordion{
    color:#0059A7;
    background: #f5f6fa;
}
.THIS .headerWithoutAccordion1{
    color:#0059A7;
    background: #ffffff;
}

.THIS .slds-required{
    visibility: unset !important;
    display: inline-flex !important;
}